{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <style>
        body{
            text-align: center;
        }
        .static-table{
            text-align: left;
            width: 800px;
        }
    </style>
</head>
<body>
    Student List Container
    <table class="table table-hover static-table" align="center" id="studentTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Course</th>
            <th scope="col">Status</th>
            <th scope="col">Delete</th>
            <th scope="col">Status</th>
            <th scope="col">Approve</th>
          </tr>
        </thead>
        <tbody>
          {% for i in studentsList %}
          <tr>
            <th scope="row">{{i.id}}</th>
            <td>{{i.fname}} {{i.lname}}</td>
            <td>{{i.email}}</td>
            <td>{{i.course}}</td>
            <td>{{i.userStatus}}</td>
            {% if i.userStatus == "Approved" %}
            <td><button type="button">Delete</button></td>
            <td>Approved☑️</td>
            <td><button type="button" id="{{i.id}}">Move To Pending</button></td>
            {% else %}
            <td><button type="button">Delete</button></td>
            <td>Pending🔃</td>
            <td><button type="button" id="{{i.id}}">Approve</button></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="text">
      <script>
        $("button").click( function() {
          var id = $(this).attr("id");
          
          $.ajax({
            url: '/ajax/studentApprove',
            data: {
              'id': id
            },
            dataType: 'json',
            success: function(data) {
              // $("#studentTable").load(window.location + " #studentTable");

              // $("#studentTable").load(" #studentTable");

              $("#studentTable").load(" #studentTable > *");

              // $("#studentTable").empty();
              // $("#studentTable").load(location.href + " #studentTable > *", "");
              
              // alert(data.user);
            }
          });
        });
      </script>
</body>
</html>
{% endblock %}