{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>VictoryPro | Test Page</title>
  <style>
    h3 {
      color: black;
    }

    p {
      font-size: 25px;
    }

    .test_timer {
      position: fixed;
      top: 100px;
      right: 30px;
    }
  </style>
</head>

<body>
  <div class="main">
    <div class="content">
      <div class="content_resize">
        <div class="mainbar">
          <div class="test_timer">
            <span id="display_time"></span>
          </div>
          <div class="article">
            {% if courseName %}
            <h2><span>{{courseName}}</span> Exam</h2>
            {% endif %}
            <div class="clr"></div>
          </div>
          <div class="article">
            <div class="clr"></div>
            <form name="testPaper" action="{% url 'submitTest' %}" method="post">
              {% csrf_token %}
              <div style="margin: 30px 0px 40px 0px;">
                {% for i in questionDetail %}
                <h3>{{forloop.counter}}) {{i.question}}</h3>
                <p><input type="radio" name="{{i.id}}" value="Option 1"> {{i.option1}}</p>
                <p><input type="radio" name="{{i.id}}" value="Option 2"> {{i.option2}}</p>
                <p><input type="radio" name="{{i.id}}" value="Option 3"> {{i.option3}}</p>
                <p><input type="radio" name="{{i.id}}" value="Option 4"> {{i.option4}}</p>
                {% endfor %}
                <div style="display: flex; justify-content: space-between; margin-right: 130px;">
                  <!-- <a href="{% url 'startTest' courseName=courseName %}"> -->
                  <input type="submit" name="submitTest" id="submitTest" value="Submit Test" class="send" />
                  <!-- </a> -->
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <script>
    var timeLeft = 25 * $('h3').length;
    var elem = document.getElementById('test_timer');

    var timerId = setInterval(countdown, 1000);
    var minute = 0
    var hour = 0

    function countdown() {
      if (timeLeft == 0) {
        clearTimeout(timerId);
        document.testPaper.submit();
      } else {
        document.getElementById('display_time').innerHTML = timeLeft + ' seconds remaining';
        // document.getElementById('display_time').innerHTML = ;
        timeLeft--;
      }
    }
  </script>
</body>

</html>
{% endblock %}